* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    /*text-decoration: none;*/
}

body {
    /*width: 100%;*/
    background: #f5f5f5;
    font-family: 黑体, Arial, Helvetica, sans-serif;
    color: #333;
}

.wrap {
    width: 100%;
    min-width: 1200px;
}

/*头部*/
.header {
    width: 100%;
}
.head_box {
    width: 1200px;
    height: 1rem;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .35rem;
}

.logo_image {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.personal_back{
    height: 50px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.person {
    font-size: 16px;
    color: #e46941;
    cursor: pointer;
    margin-left: 20px;
}
.head_box img {
    height: 85%;
}
.nav_bar{
    height: 25px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "宋体";
}
.nav_bar li{
    margin-left: 20px;
    cursor: pointer;
    font-weight: 600;
    /*color: #486491;*/
    color: #315184;
}
.nav_bar li:hover{
    color: #e46941;
}
/*背景图片*/
.bg_image {
    width: 100%;
    height: 2.3rem;
    background: url("../../images/readingThoughtsFront/banner.jpg") center center no-repeat;
    background-size: 100% 100%;
}

.bg_wrap {
    width: 1200px;
    margin: auto;
    color: #fff;
    font-size: .25rem;
    padding: .2rem .4rem;
    /*height: 2.0rem;*/
}

/*内容区*/
.content_wrap {
    width: 1200px;
    margin: .5rem auto;
    background: #fff;
    padding-bottom: .2rem;
}

.book_list {
    display: -webkit-flex;
    display: flex;
    padding: .2rem 0;
    justify-content: space-between;
}

.list_one {
    width: 20%;
    margin: 0 2.5%;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.list_one > img {
    width: 100%;
    vertical-align: middle;
    opacity: 0.5;
    /*box-shadow: ;*/
}

.list_one > img:hover {
    opacity: 1;
    box-shadow: -3px 4px 10px #aaa;
}

.list_one > p {
    font-size: .18rem;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.read_activity_box {
    display: -webkit-flex;
    display: flex;
    font-size: .14rem;
}

.read_activity {
    width: 50%;
    padding: .2rem;
}

.read_activity ul li {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    line-height: .3rem;
    border-bottom: 1px dotted #e9e8e7;
    margin-left: .1rem;
}

.read_activity ul li p:first-child {
    padding-left: 0.1rem;
    position: relative;
    cursor: pointer;
}

.read_activity ul li p:first-child:hover {
    padding-left: 0.11rem;
    color: #ec6941;
}

.title {
    height: .55rem;
    line-height: .55rem;
    margin: .1rem 0;
    font-size: .17rem;
    font-weight: bold;
}

.title > img {
    vertical-align: middle;
    margin-right: .1rem;
}

.dot {
    display: block;
    width: 0.04rem;
    height: 0.04rem;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 0;
}

.dot1 {
    background: #e60012;
}

.dot2 {
    background: #007130;
}

.dot3 {
    background: #ea68a2;
}

.dot4 {
    background: #13b5b1;
}

.dot5 {
    background: #0068b7;
}

.dot6 {
    background: #ec6941;
}

.more {
    text-align: right;
    line-height: .4rem;
    font-size: .13rem;
    color: #00aaf5;
    cursor: pointer;
}

/*底部*/
.footer {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    border-top: 1px solid #d7d7d7;
    margin-top: .5rem;
    color: #5e443b;
    text-align: center;
    font-size: .15rem;
}