* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font: 12px/1.5 宋体, Arial, Helvetica, sans-serif;
    color: #333;
}

/*内容区*/
.content_wrap {
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.main_content {

}

.content_top {

    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #a4a4a4;
    background: #efefef;
    padding-left: 15px;
    position: relative;
}

.txt {
    width: 245px;
    height: 22px;
    border: 1px solid #c1c1c1;
}

.infoRemind {
    text-align: left;
    padding-left: 10px;
    color: #999999;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 12px;
}

.content_top i.icon {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(../../images/readingThought/icons.gif) no-repeat;
    width: 4px;
    height: 7px;
    background-position: left -31px;
    margin: 11px 8px 0px 0px;
}

.back {
    width: 40px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    color: #4e9fee;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.publish_box {
    width: 100%;
    padding: 20px 0 0 100px;
}

.UserAdminbox {
    width: 450px;
    padding: 20px 0 0 0;
}

.right {
    text-align: right;
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
}

.adminButton {
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding-left: 160px;
}
.adminButton input {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.publish_box .works {
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
}

.work_crop {
    display: flex;
    display: -webkit-flex;
    margin-top: 10px;
}

.publish_box .works_content {
    display: flex;
    display: -webkit-flex;
    margin-top: 20px;
}

.works_content textarea {
    /*width: 250px;*/
    /*height: 185px;*/
    border: 1px solid #cacaca;
}

.works_name input, .authors input, .works_cover input {
    width: 170px;
    height: 25px;
}

.works_cover {
    text-indent: 2em;
}

.authors {
    text-indent: 2em;
}

#upload {
    color: #4e9fee;
}

#range {
    height: 25px;
    width: 170px;
    border: 1px solid #cacaca;
}

.button {
    padding-left: 58px;
}

.button input {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.date_select > input {
    width: 170px;
    height: 25px;
    background: #fff url(../../images/readingThought/datePicker.gif) no-repeat right;
    border: 1px solid #cacaca;
}
