* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font: 12px/1.5 宋体, Arial, Helvetica, sans-serif;
    color: #333;
}

/*内容区*/
.content_wrap {
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.main_content {

}

.content_top {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #a4a4a4;
    background: #efefef;
    padding-left: 15px;
    position: relative;
}

.content_top i.icon {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(../../images/readingThought/icons.gif) no-repeat;
    width: 4px;
    height: 7px;
    background-position: left -31px;
    margin: 11px 8px 0px 0px;
}

.back {
    width: 40px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    color: #4e9fee;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.publish_box {
    width: 100%;
    padding: 50px 0 0 200px;
}

.publish_box div {
    margin-top: 30px;
    height: 35px;
    line-height: 35px;
}

.publish_box .thought_infomation {
    width: 300px;
    min-height: 150px;
    line-height: 25px;
    text-indent: 2em;
    display: inline-block;
    border: 1px solid #cacaca;
}

.publish_box .thought_publish {
    margin-top: 150px;
}

.thought_publish a {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-left: 50px;
    background: #0487e3;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

/*.works_type select{*/
/*height: 25px;*/
/*width: 170px;*/
/*}*/
.works_type input, .works_name input, .authors input {
    width: 170px;
    height: 25px;
}

.authors {
    /*text-indent: 2em;*/
}

.button {
    padding-left: 58px;
}

.button input {
    width: 100px;
    height: 30px;
    cursor: pointer;
}
